* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
  background-color:cornflowerblue;
}

/* Style the top navigation bar */
.topnav {
  padding: 40px;
  margin: 20px;
  overflow: hidden;
  background-color: white;
  font-size: 50px;
  color: black;
  background-position:  95% 10%;
  background-repeat: no-repeat;  
  background-image: url("images/logo.svg");
  font-weight: bold;
  box-shadow: 5px 10px 18px #888888;
}



/* Style the content */
.content {
  padding: 20px;
  margin: 20px;  
  background-color: #ddd;
  box-shadow: 5px 10px 18px #888888;

}

/* Style the footer */
.footer {
  padding: 20px;
  margin: 20px;  
 

}

.infoBox {
  padding: 20px;
  padding-left: 150px;
  margin: 20px;  
  background-color: #f1f1f1;
  font-weight: bold;
  box-shadow: 5px 10px 18px #888888;
  
}

.green {
  
  
  background-color: green;
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;  
  background-image: url("images/info-black-48dp/2x/baseline_info_black_48dp.png"),
  url("images/thumb_up-black-48dp/2x/baseline_thumb_up_black_48dp.png");
  
}

.amber {
    background-color: orange;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;  
    background-image: url("images/info-black-48dp/2x/baseline_info_black_48dp.png"),
    url("images/thumbs_up_down-black-48dp/2x/baseline_thumbs_up_down_black_48dp.png");
}

.red {
    background-color: red;
    background-position: left, right;
    background-repeat: no-repeat, no-repeat;  
    background-image: url("images/info-black-48dp/2x/baseline_info_black_48dp.png"),
    url("images/thumb_down-black-48dp/2x/baseline_thumb_down_black_48dp.png");
}


  .statusBox {
      font-size:32px;
  }

  #calendarView {
    font-size:32px;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  
  #calendarView td, #calendarView th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #calendarView tr:nth-child(even){background-color:aliceblue}
  

  
  #calendarView th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .tod{
    width: 10%;
    color: black;
  }
  .occupied {
    background-color: orange;
    color: white;
    text-align: center;
  }

  .invisibaleTextBox{
    width: 0%;
    border: none;
    background-color: #ddd;
  }

  .whoAreYouContent
  {
    background-image: url("images/account_box-black-48dp/2x/baseline_account_box_black_48dp.png");
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 60px;
    padding-left: 150px;
    font-size:32px;

  }

  .ConfirmationContent
  {
    background-image: url("images/check_circle-black-48dp/2x/baseline_check_circle_black_48dp.png");
    background-repeat: no-repeat;
    background-position: 0%;
    padding: 60px;
    padding-left: 150px;
    font-size:32px;

  }